
# Backend (Python)
__pycache__/
alembic/
venv/
*.pyc
google-credentials.json
google-credentials1.json
verify_data.py
travel_app.db
alembic.ini
.env
file.txt
merco.py
merged_specific_files.txt
# Frontend (JavaScript)
node_modules/

# IDE/System Files
.vscode/



